@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Tasky.Models.Project
<h2 class="card-title"> @Model.Name </h2>


@* <div class="card-body">

    <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Name</h3>

    <div class="card-text"></div>

</div>
 *@


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<title>Trello-like Layout</title>
<style>
    .column {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        min-height: 100px;
    }
    .card:hover
    {
        cursor:pointer;
    }
</style>


<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4">
            <div id="left" class="column bg-light">
                <div id="innerCards">

                <h2>Not Started</h2>
                @foreach (var task in Model.Tasks)
                {
                    if (task.Status == "notstarted")
                    {
                            <div class="card mb-3" draggable="true" data-task-id="@task.Id" onclick="showTaskModal(@task.Id)">
                            <div class="card-body">
                                <h5 class="card-title">@task.Descriere</h5>
                                <p class="card-text"><strong>Media:</strong> @task.Media</p>
                                <p class="card-text"><strong>Status:</strong> <span id="status"> @task.Status</span></p>
                                <p class="card-text"><strong>Start Date:</strong> @task.DataStart.ToShortDateString()</p>
                                <p class="card-text"><strong>Deadline:</strong> @task.DataFinalizare.ToShortDateString()</p>
                                @* edit task *@
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal_@task.Id">
                                    Edit Task
                                </button>
                                <button type="button" id="showButton_@task.Id" class="btn btn-primary" data-toggle="modal" data-target="#taskShowModal_@task.Id" style="display: none;">
                                        Show Task
                                </button>
                                @Html.Partial("TaskModa", task)
                                @Html.Partial("TaskShowModal",task)
                            </div>
                        </div>


                        
                    }
                }
                <br />
                </div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal">Add Task</button>

            </div>
        </div>
        <div class="col-md-4">
            <div id = "middle" class="column bg-light">
                <h2>In Progress</h2>
                @foreach (var task in Model.Tasks)
                {
                    if (task.Status == "working")
                    {
                        <div class="card mb-3" draggable="true" data-task-id="@task.Id" onclick="showTaskModal(@task.Id)">
                            <div class="card-body">
                                <h5 class="card-title">@task.Descriere</h5>
                                <p class="card-text"><strong>Media:</strong> @task.Media</p>
                                <p class="card-text"><strong>Status:</strong> <span id="status"> @task.Status</span></p>
                                <p class="card-text"><strong>Start Date:</strong> @task.DataStart.ToShortDateString()</p>
                                <p class="card-text"><strong>Deadline:</strong> @task.DataFinalizare.ToShortDateString()</p>
                                @* edit task *@
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal_@task.Id">
                                    Edit Task
                                </button>
                                <button type="button" id="showButton_@task.Id" class="btn btn-primary" data-toggle="modal" data-target="#taskShowModal_@task.Id" style="display: none;">
                                    Show Task
                                </button>
                                @Html.Partial("TaskModa", task)
                                @Html.Partial("TaskShowModal",task)
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
        <div class="col-md-4">
            <div id="right" class="column bg-light">
                <h2>Completed</h2>
                @foreach (var task in Model.Tasks)
                {
                    if (task.Status == "completed")
                    {
                        <div class="card mb-3" draggable="true" data-task-id="@task.Id" onclick="showTaskModal(@task.Id)">
                            <div class="card-body">
                                <h5 class="card-title">@task.Descriere</h5>
                                <p class="card-text"><strong>Media:</strong> @task.Media</p>
                                <p class="card-text"><strong>Status:</strong><span id="status"> @task.Status</span></p>
                                <p class="card-text"><strong>Start Date:</strong> @task.DataStart.ToShortDateString()</p>
                                <p class="card-text"><strong>Deadline:</strong> @task.DataFinalizare.ToShortDateString()</p>
                                @* edit task *@
                                <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#taskModal_@task.Id">
                                    Edit Task
                                </button>
                                <button type="button" id="showButton_@task.Id" class="btn btn-primary" data-toggle="modal" data-target="#taskShowModal_@task.Id" style="display: none;">
                                    Show Task
                                </button>
                                @Html.Partial("TaskModa", task)
                                @Html.Partial("TaskShowModal",task)
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>

<form method="post" asp-controller="Tasks" asp-action="UpdateStatus" id="updateStatusForm">
    <input type="hidden" name="taskId" id="taskId" />
    <input type="hidden" name="newStatus" id="newStatus" />
</form>
<script>
    function showTaskModal(taskId) {
       /* console.log("btn is working")
       let btn= document.querySelector(`#showButton_${taskId}`)
       btn.click() 
       // Trigger the click event on the "Show Task" button
        //$(`#taskShowModal_${taskId} .btn[data-target="#taskShowModal_${taskId}"]`).click();
        event.preventDefault();*/
        $('#taskShowModal_' + taskId).modal('show');
    }
    let list = document.getElementsByClassName("card mb-3");
    let left = document.getElementById("left");
    let right = document.getElementById("right");
    let middle = document.getElementById("middle");
    for (item of list) {
        item.addEventListener("dragstart", function (e) {
            let selected = e.target;
            let taskId = selected.dataset.taskId;
            let statusElement = selected.querySelector('.card-text span');
            console.log(statusElement.innerText);

            left.addEventListener("dragover", function (e) {
                e.preventDefault();
            });
            left.addEventListener("drop", function (e) {
               //left.appendChild(selected);
               let innerCards=left.querySelector("#innerCards")
               innerCards.appendChild(selected)
                selected = null;
                if (statusElement.innerText != "notstarted") {
                    updateTaskStatus(taskId, "notstarted");
                    statusElement.innerText = "notstarted";
                }
                
            });
            right.addEventListener("dragover", function (e) {
                e.preventDefault();
            });
            right.addEventListener("drop", function (e) {
                right.appendChild(selected);
                selected = null;

                if (statusElement.innerText != "completed") {
                    updateTaskStatus(taskId, "completed");
                    statusElement.innerText = "completed";
                }

            });
            middle.addEventListener("dragover", function (e) {
                e.preventDefault();
            });
            middle.addEventListener("drop", function (e) {
                middle.appendChild(selected);
                selected = null;
                if (statusElement.innerText != "working") {
                    updateTaskStatus(taskId, "working");
                    statusElement.innerText = "working";
                }

            });
        })
    }
    
    
    function updateTaskStatus(taskId, newStatus) {

        $("#taskId").val(taskId);
        $("#newStatus").val(newStatus);

        // Submit the form using AJAX
        $.ajax({
            type: "POST",
            url: $("#updateStatusForm").attr("action"),
            data: $("#updateStatusForm").serialize(),
            success: function (result) {
                // Handle success, if needed
                console.log(result);
            },
            error: function (error) {
                // Handle error, if needed
                console.error(error);
            }
        });

    }
    
</script>

@* Add new task  *@


<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Add New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form for adding a new task -->
                <form method ="post" action="/Projects/AddTask/@Model.Id">
                    <input type="hidden" name="ProjectId" value="@Model.Id" />
                    <input type="hidden" name="Status" value="notstarted" />
                    <div class="form-group">
                        <label for="taskDescription">Description:</label>
                        <input type="text" class="form-control" name="Descriere" placeholder="Enter description" />
                    </div>
                    <div class="form-group">
                        <label for="taskStartDate">Start Date:</label>
                        <input type="date" class="form-control" name="DataStart" />
                    </div>
                    <div class="form-group">
                        <label for="taskEndDate">Deadline:</label>
                        <input type="date" class="form-control" name="DataFinalizare" />
                    </div>
                    <div class="form-group">
                        <label for="taskMedia">Media:</label>
                        <input type="text" class="form-control" name="Media" placeholder="Enter media URL" />
                    </div>
                    <button type="submit" class="btn btn-success">Add Task</button>
                </form>
            </div>
        </div>
    </div>
</div>



<br />
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<br />
<br />
<br />
<br />

